html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
	font-family: "Times New Roman", Times, serif;
	background-color: #F8F8F8;
}

img {
    width: 50px;
    height: 50px;
    position:absolute;
}
h1{
    padding-left: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #C8C8C8;
}

.page-header {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "Times New Roman", Times, serif;
	background-color: #C8C8C8;
}

form {
	font-family: "Helvetica", Helvetica, sans-serif;
}

/*================*/
/*================*/

.spacing-side {
	padding-left: 5px;
	padding-right: 5px;
}

.top-pad {
	padding-top: 5px;
}

iframe {
	padding-top: 10px;
}

.border-radius {
	border-radius: 8px;
	    border-top: 1px solid #CCC;
	    border-top-width: 2px;
	    border-bottom: 1px solid #DFDFDF;
	    border-left: 1px solid #ECECEC;
	    border-right: 1px solid #ECECEC;
	    border-top-color: #0088CC;
}

.progress {
	display: none;
}
